# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Test result & coverage
*.log
*.tmp
*.coverage
coverage/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# SQLite/DB files
*.db

# Python packaging
*.egg-info/
dist/
build/

# Environments
.env.venv/
.DS_Store
